.financial-pic{
    display: flex !important;
    flex-direction: row !important;
    border-bottom:none !important;
   
    
}
.financial-Checkbox{
    margin-top: 10px !important;
}

.financial-table{
    width: 100% !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
    
    
}
.financial-thead1{
    
    padding: 10px !important;
    border-bottom: 1.6px solid black !important;
    
}
.financial-theadcheckbox{
margin-top: 8px !important;
}
.financial-tablerow > .financial-Checkbox{
    margin-top: -30px;
    
}

.financial-tablerow {
    
    border-bottom: 1px solid rgb(222, 219, 219) !important;
}
.financial-icons{
   font-size: 29px !important;
   padding: 5px;
   margin-right: 5px;
}
.financial-iconscontent{
    width: 20%;
}
.financial-statuscontent{
    width: 12%;
    
}
.financial-colorbarcontent{
    width: 10%;
}
.financial-statuscontent > span{
    border: 1px solid green;
    padding: 5px 10px;
    background-color: rgb(213, 207, 207);
    border: none;
    border-radius: 10px;
    
}
@media (min-width: 320px) and (max-width:1000px) {
    .financial-pic{
        
        display: flex !important;
        flex-direction: column !important;
        border-bottom:none !important;
        
    }
    .financial-statuscontent{
        width: 15%;
        
    }
    .financial-statuscontent > span{
        border: 1px solid green;
        margin-left: -10px;
        margin-right: -10px;
        padding: 2px 3px;
        background-color: rgb(213, 207, 207);
        border: none;
        border-radius: 5px;
        font-size: 12px;
        
    }
    
}

