/* Add this CSS to your stylesheet or component */
.overalltabs{
    background-color: rgb(241,247,253);
    
}


.tabs {
  padding-top: 20px;
  margin: auto;
  width: 97%;
  border-bottom: 2px solid rgb(210, 208, 208);
  }
  
  .tabs > button {
   background-color: white !important;
   border: none;
   width: 10%;
    
  }
  
  button.active {
    
    border-bottom: 3px solid blue;
  }
  .clientcontainer{
    background-color: rgb(241,247,253);
    display: flex;
    margin-top: 20px;
  }
  .left1{
    width: 20%;
    background-color: white;
  }
  .right{
    margin: 10px;
    margin-right: 20px;
    width: 80%;
    background-color: white;
  }
  /* .tab-item{
    
  }
  .tab-content{
    
    
  }
  .tab-content-text {
    
  }
  .tab-content-text > h5{
    
  }
  .tab-content-text > h5 > span{
   
  }
  .tab-content-text > p{
   

  }
  .tab-content-text > div{
    
  } */
 
  