.superadminproject-card {
  width: 100%;
  border: 1px solid rgb(199, 193, 193);
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start !important;
  margin-bottom: 20px;
}
.superadminproject-card1 {
  margin-top: 0px;
  margin-right: 5px !important;
  width: 90% !important;
}
.superadminproject-card2 {
  margin-left: -10px;
  background-color: transparent;
  width: 100%;
  border: none;
}
.superadminproject-line {
  width: 100%;
  background-color: rgb(201, 191, 191);
  height: 6px;
  margin: 10px auto !important;
  border-radius: 5px !important;
}
.superadminproject-count {
  font-size: 17px !important;
  font-weight: 600 !important;
}
.superadminproject-status {
  font-size: 17px !important;
  font-weight: 800 !important;
  color: gray;
}

@media (min-width: 320px) and (max-width: 700px) {
  .superadminproject-card {
    margin-top: 20px;
    margin-right: 5px;
    padding: 0 !important;
  }
  .superadminproject-count {
    font-size: 10px !important;
    font-weight: 600 !important;
  }
  .superadminproject-status {
    font-size: 10px !important;
    font-weight: 800 !important;
    color: gray;
  }
  .superadminproject-line {
    width: 100% !important;
    margin: 5px 2px !important;
  }
}

@media (min-width: 700px) and (max-width: 780px) {
  .superadminproject-count {
    font-size: 10px !important;
    font-weight: 600 !important;
  }
  .superadminproject-status {
    font-size: 12px !important;
    font-weight: 800 !important;
    color: gray;
  }
}
