.chart1{
    margin: 10px -10px;
   width: 100%;
   padding: 0px;

   
}
.chart1 > h3{
    font-size: 20px;
    width: 200px;
    margin-left: 60px;
    margin-bottom: 40px;
    color: rgb(96, 95, 95)
}

.charts{
    display: flex;
    width: 100%;
    margin: 20px;
}

