.Sidenav .taskicon {
  background: #000;
  width: 80px;
}

.acontainer {
  width: 100%;
  display: flex;
  justify-content: right;
}

/* .dash-layout {
  width: 100%;
} */

.profileinfo-topcard {
  display: flex;
  width: 100%;
  display: flex;
}

.profileinfo-Button {
  background: rgb(255, 95, 111);
  border-radius: 25px;
  width: 90px;
  padding: 10px;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
}

.profileinfo-Profile {
  margin: 20px;
  height: 85px;
  width: 85px;
  border-radius: 10px;
}

.profileinfo-profile2 {
  display: flex;
  align-items: start;
  flex-direction: column;
  margin: 0px;


}
.profileinfo-profile2,
h3 {
  padding-top: 20px;
  margin: 0px;
  font-weight: 500;
  gap: 10px;
  margin-right: 10px;
}

.profileinfo-bottomcards {
  display: flex;
  align-items: center;
  color: rgb(158, 158, 158);
  text-align: start;
  gap: 10px;
  font-size: 20px;
}

.profileinfo-notification,
.profileinfo-lock,
.profileinfo-clock,
.profileinfo-user {
  height: 25px;
  width: 25px;
}

.profileinfo-logout {
  text-align: start;
  color: rgb(158, 158, 158);
}
.profileinfo-profile,
p {
  margin: 0px;
  color: rgb(158, 158, 158);
  gap: 10px;
  padding-bottom: 5px;
  margin-right: 15px;
}
.profileinfo-bottomcard {
  gap: 20px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  padding: 20px;
}
.profileinfo-maindiv{
  display: flex;
  justify-content: center;
}


