@import url("https://fonts.googleapis.com/css2?family=Aoboshi+One&family=Roboto:wght@100;300;400;500&display=swap");

.Login {
  background-color: #f1f7fd;
  height: fit-content;
  display: flex;
  justify-content: space-between;
}

.LogoImage {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0px;
}

.LogoImage .Logo {
  width: 350px;
  height: 100px;
  top: 222px;
  left: 122px;
}

.LogoImage p {
  font-family: Aoboshi One;
  font-size: 40px;
  font-weight: 400;
  letter-spacing: 0.015em;
  padding-left: 30px;
}

.LogoImage .Hero {
  width: 700px;
  height: 500px;
  top: 366px;
  left: 120px;
  opacity: 0.800000011920929px;
}

.Container {
  width: 780px;
  height: 900px;
  border-radius: 15px;
}

.Box {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  height: 650px;
  border-radius: 15px;
  padding: 50px;
  line-height: 1px;
}
.Field {
  border-bottom: 10px;
}

.Field p {
  display: flex;
  width: 90%;
  height: 30px;
  align-items: center;
  justify-content: center;
  font-family: Roboto;
  font-size: 25px;
  font-weight: 600;
}

.Field h5 {
  font-weight: 500;
  font-size: 20px;
}

#outlined-basic {
  width: 380px;
  height: 30px;
  border-radius: 10px;
  border: 1.5px;
}

.login-btn {
  display: flex;
  margin: 15px;
  align-items: center;
  background: #ec3d50;
  color: white;
  justify-content: center;
  border-radius: 10px;
}

.login-btn .p {
  display: flex;
  align-items: center;
}

.Login-desp {
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkbox {
  display: block;
}

.alignment {
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 478px;
  left: 1200px;
}

.alignment h6 {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 400;
  line-height: 19px;
  margin-left: 5px;
}

.copyright {
  margin-bottom: 0;
  text-align: center;
  font-family: Roboto;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0.085em;
  color: #18172580;
}
