.pic {
  display: flex !important;
  flex-direction: row !important;
  border-bottom: none !important;
  /* background-color: red; */
}

.table {
  width: 100% !important;
  padding-left: 10px !important;
  padding-right: 10px !important;
}
.thead1 {
  padding: 10px !important;
  border-bottom: 1.6px solid black !important;
}
.theadcheckbox {
  margin-top: 8px !important;
}
.tablerow > .Checkbox {
  margin-top: 5px;
}

.tablerow {
  border-bottom: 1px solid rgb(222, 219, 219) !important;
}
.icons {
  font-size: 29px !important;
  padding: 5px;
  margin-right: 5px;
}
.iconscontent {
  width: 20%;
}
.statuscontent {
  width: 12%;
}
.colorbarcontent {
  width: 10%;
}
.statuscontent > span {
  border: 1px solid green;
  padding: 5px 10px;
  background-color: rgb(213, 207, 207);
  border: none;
  border-radius: 10px;
}

.tableCell img {
  margin-left: 5px;
  height: 15px;
}

.titlecontent img {
  height: 30px;
  border-radius: 20px;
}

.TableHead {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Profile {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.icons {
  display: flex;
  justify-content: center;
}

.NewUserHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px !important;
}

.NewUserHeader p {
  font-size: 18px;
}

.Container1 {
  background-color: #ebeaea;
}

.Client {
  display: block;
}

.chip {
  display: block ;
  width: 450px;
  border: 0.5px solid grey;
  border-radius: 5px;
}

.Dialog-textfield {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.Dialog-textfield p {
  font-size: 13px;
  font-weight: 500;
}

.switches {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.Buttons {
  gap: 9px;
  display: flex;
  align-items: center;
  justify-content: right;
}

.Filter-project {
  width: 400px;
}

.Filter-Buttons {
  gap: 9px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Date {
  gap: 9px;
  display: flex;
  align-items: center;
}
